@font-face{
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	src: url('fonts/Roboto-Regular.eot');
	src: local('Roboto Regular'), local('Roboto-Regular'),
		url('fonts/Roboto-Regular.eot?#iefix') format('embeded-opentype'),
		url('fonts/Roboto-Regular.woff') format('woff'),
		url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face{
	font-family: "Roboto";
	font-weight:bold;
	font-style: normal;
	src: url('fonts/Roboto-Bold.eot');
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url('fonts/Roboto-Bold.eot?#iefix') format('embeded-opentype'),
		url('fonts/Roboto-Bold.woff') format('woff'),
		url('fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face{
	font-family: "Roboto";
	font-weight: normal;
	font-style: italic;
	src: url('fonts/Roboto-Italic.eot');
	src: local('Roboto Italic'), local('Roboto-Italic'),
		url('fonts/Roboto-Italic.eot?#iefix') format('embeded-opentype'),
		url('fonts/Roboto-Italic.woff') format('woff'),
		url('fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face{
	font-family: "Roboto";
	font-weight: bold;
	font-style: italic;
	src: url('fonts/Roboto-BoldItalic.eot');
	src: local('Roboto BoldItalic'), local('Roboto-BoldItalic'),
		url('fonts/Roboto-BoldItalic.eot?#iefix') format('embeded-opentype'),
		url('fonts/Roboto-BoldItalic.woff') format('woff'),
		url('fonts/Roboto-BoldItalic.ttf') format('truetype');
}

html,
body{
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 0;
	background-color: #2c3e50;
}

/* Header*/

.page-header{
	position: relative;
	z-index: 5;
	min-height: 20px;
	padding: 20px;
	color: white;
	background-image:
		linear-gradient(45deg, #34495e 25%, transparent 25%),
		linear-gradient(-45deg, #34495e 25%, transparent 25%),
		linear-gradient(135deg, #34495e 25%, transparent 25%),
		linear-gradient(-135deg, #34495e 25%, transparent 25%);
	background-position: 10px 0, 10px 0, 0 0, 0 0;
	background-size: 20px 20px;
	box-shadow: 0 0 5px 0 #333333;
}

.logo{
	position: absolute;
	top: -10px;
	left: 0px;
	margin: 0;
}

.hor-level-menu{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 150px;
}

.hor-level-menu > li{
	position: relative;
	display: inline-block;
	margin-right: 1em;
}

.hor-level-menu a{
	color: white;
	text-decoration: none;
}

.hor-level-menu a:hover{
	color: #7e415f;
}

.hor-level-menu .sub-menu{
	width: 150px;
	position: absolute;
	left: 5px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #2c3750;
	display: none;
}

.hor-level-menu .sub-menu a
{
	margin-bottom: -1px;
}

.hor-level-menu > li:hover .sub-menu
{
	display: block;
}
/* Main */

/* Footer */