/* Блок змінних */

@line: 16px;
@base-color: #2c3e50;
@link-color: #191970;

/* Блок оголошення шрифту */

@font-face {
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	src: url('fonts/Roboto-Regular.eot');
	src: local('Roboto Regular'), local('Roboto-Regular'),
		url('fonts/Roboto-Regular.eot?#iefix') format('embeded-opentype'),
		url('fonts/Roboto-Regular.woff') format('woff'),
		url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Roboto";
	font-weight:bold;
	font-style: normal;
	src: url('fonts/Roboto-Bold.eot');
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url('fonts/Roboto-Bold.eot?#iefix') format('embeded-opentype'),
		url('fonts/Roboto-Bold.woff') format('woff'),
		url('fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "Roboto";
	font-weight: normal;
	font-style: italic;
	src: url('fonts/Roboto-Italic.eot');
	src: local('Roboto Italic'), local('Roboto-Italic'),
		url('fonts/Roboto-Italic.eot?#iefix') format('embeded-opentype'),
		url('fonts/Roboto-Italic.woff') format('woff'),
		url('fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
	font-family: "Roboto";
	font-weight: bold;
	font-style: italic;
	src: url('fonts/Roboto-BoldItalic.eot');
	src: local('Roboto BoldItalic'), local('Roboto-BoldItalic'),
		url('fonts/Roboto-BoldItalic.eot?#iefix') format('embeded-opentype'),
		url('fonts/Roboto-BoldItalic.woff') format('woff'),
		url('fonts/Roboto-BoldItalic.ttf') format('truetype');
}

/* Блок домішок */

.set-font(@font-size;@line-height:@line) {
	font-size: @font-size;
	line-height: @line-height;
}

.set-margin(@margin-top:@line;@margin-bottom:@line) {
	margin-top: @margin-top;
	margin-bottom: @margin-bottom;
}

/* Основа */

body {
	font-family: "Roboto", sans-serif; 
	.set-font(@line*0.6);
	background-color: @base-color;
}

h1 {
	.set-font(@line * 2; @line * 3);
	.set-margin();
}
h2 {
	.set-font(@line*1.5, @line*2);
	.set-margin();
}

h3 {
	.set-font(@line*1.2; @line*2);
	.set-margin();
}

p {
		.set-font(@line * 0.8);
}

ul {
		.set-margin();
}

li {
		.set-font(@line*0.8);
		.set-margin(@line/2;@line/2);
}

a {
	text-decoration: none;
}

a:link {
	color: @link-color;
}

a:visited {
	color: desaturate(@link-color,50%);
	text-decoration: underline;
}

a:active {
	color: darken(@link-color, 50%);
}

/* Header */

.page-header {
	z-index: 5;
	min-height: 20px;
	color: white;
	background-image:
		linear-gradient(45deg, #34495e 25%, transparent 25%),
		linear-gradient(-45deg, #34495e 25%, transparent 25%),
		linear-gradient(135deg, #34495e 25%, transparent 25%),
		linear-gradient(-135deg, #34495e 25%, transparent 25%);
	background-position: 10px 0, 10px 0, 0 0, 0 0;
	background-size: 20px 20px;
	box-shadow: 0 3px 5px 0 #333333;
	padding: 20px;
}

.logo {
	position: absolute;
	top: -10px;
}

.hor-level-menu {
	list-style: none;
	margin: 0;
	margin-left: 150px;
}

.hor-level-menu > li {
	position: relative;
	display: inline-block;
	margin-right: 1em;
	font-size: @line;
}

.hor-level-menu a {
	color: white;
	text-decoration: none;
}

.hor-level-menu .sub-menu {
	width: 155px;
	position: absolute;
	left: -145px;
	top:25px;
	list-style: none;
	background: lighten(@base-color,5%);
	display: none;
}

.hor-level-menu .sub-menu a {
	padding: 10px;
}

.hor-level-menu > li:hover .sub-menu
{
	display: block;
}

/* Main */

main {
	display: block;
	min-height: 200px;
	padding-top: 50px;
	color: black;
	background-color: white;
}

main::after{
	content: "";
	display: table;
	clear: both;
}

.about-me {
	min-height: 200px;
	margin: 0 20px;
	padding: 10px;
	background-color: rgba(241,196,15,0.1);
	border-radius: 5px;
	box-shadow: 0 0 3px #cccccc;
}

.about-me::after {
	content: "";
	display: table;
	clear: both;
}

.profile {
	display: inline-block;
	width: 51%;
	min-height: 100px;
	padding: 2%;
	background-color: rgba(243,156,18,0.1);
	border-radius: 5px;
	p {
		margin: 0.5em 0;
	}
	h1 {
		font-size: 1.7em;
	}
}

.last-actions {
	float: right;
	width: 40%;
	min-height: 100px;
	background-color: #f1c40f;
	border: 5px solid white;
	border-bottom-width: 15px;
	box-shadow: 0 0 8px -1px #f39c12;
	ul {
		padding: 10px;
		list-style: none;
	}
	li {
		margin-bottom: 0.5em;
		font-size: 14px;
		font-family: "Courier New";
	}
	time {
		display: block;
		font-size: 11px;
		color: #666666;
	}
}

.posts {
	min-height: 50px;
	margin: 20px 0;
	padding: 20px;
	background-color: #f5f5f5;
	box-shadow: 0 0 5px #cccccc;
}

/* Footer */

.page-footer {
	min-height: 50px;
	padding: 20px;
	font-size: @line * 0.7;
	color: black;
	background-color: #f1c40f;
	background-image:
		linear-gradient(45deg, transparent 50%, white 50%),
		linear-gradient(-45deg, transparent 50%, white 50%),
		linear-gradient(135deg, transparent 50%, #2c3e50 50%),
		linear-gradient(-135deg, transparent 50%, #2c3e50 50%);
	background-repeat: repeat-x;
	background-position: 0 0, 0 0, 0 100%, 0 100%;
	background-size: 10px 12px;
	.info, .copyright {
		padding-top: 20px;
		font-size: @line * 0.6;
	}
	.info {
		float: left;
	}
	.copyright {
		float: right;
	}
}